# https://clangd.llvm.org/config#compileflags

CompileFlags:                     # Tweak the parse settings
  # treat all files as C++, enable more warnings
  Add: [-xc++, -Wall, -std=c++17]
  # Remove: -W*  for extraction of include paths.
  # must matches a glob mentioned in driver
  Compiler: /usr/local/bin/g++               # Change argv[0] of compile flags to `clang++`
  # clangd-12 path to a directory/Ancestors/None
  CompilationDatabase: Ancestors


Diagnostics:
  ClangTidy:
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
  UnusedIncludes: Strict

Completion:
  AllScopes: Yes

# 类型提示 clangd-14
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypedNames: Yes

Hover:
  ShowAKA: Yes

Index:
  Background: Build
